@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-luxury-black text-luxury-nude;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-shadow-gold {
    text-shadow: 0 2px 4px rgba(201, 164, 92, 0.3);
  }
}